# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hassa\NTNU.Data\1år\2.sem\Programmering2\Mappe\Mappe1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.idea

*.iml
#Log file
*.log

#Compile class file
*.class

# BlueJ files
*.ctxt

#Package files
*.nar
*.war
*.jar
*.zip
*.rar
*.ear
*.tar.gz

/target

*/target/
*/tatget/**
/tatget/**

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
